<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel (.hbs views)</title>
    {{{_sections.head}}}
  </head>
  <body>
    <p><i>Technical note: using .hbs extension for views.</i></p>
    {{{body}}}
    {{{_sections.scripts}}}
  </body>
</html>
