{
  "cookieSecret": "REQUIRED: RANDOM STRING",
  "redis": {
    "dev": {
      "url": "redis://localhost"
    }
  },
  "mongo": {
    "connectionString": "mongodb://root:ooKAl7mx0lhv@localhost:27017/meadowlark?authSource=admin"
  },
  "authProviders": {
    "facebook": {
      "appId": "REQUIRED: Facebook App ID",
      "appSecret": "REQUIRED: Facebook App Secret"
    },
    "google": {
      "clientID": "REQUIRED: Google API client ID",
      "clientSecret": "REQUIRED: Google API client secret"
    }
  },
  "twitter": {
    "consumerApiKey": "REQUIRED: Twitter API Key",
    "apiSecretKey": "REQUIRED: Twitter API Secret Key",
  },
  "google": {
    "apiKey": "REQUIRED: Google API key"
  }
}

