<h2>Welcome</h2>

<p>Wecome to Meadowlark Travel!  Please <a href="/newsletter">sign up for our newsletter</a>!</p>
<p>Check out our <a href="/vacations">vacation packages!</a>!</p>
<p>Also, please enter our <a href="/contest/vacation-photo-ajax">Vacation Photo Contest</a>!</p>

<ul>
  <li><a href="/auth/facebook">Login with Facebook</a></li>
  <li><a href="/auth/google">Login with Google</a></li>
</ul>

{{> weather}}

