<h2>Auto Views - Directory</h2>

The following pages do not have routes specified in our Express code, but they work anyway thanks to the "auto-views" middleware:

<ul>
  <li><a href="/alfa">Alfa</a></li>
  <li><a href="/bravo">Bravo</a></li>
  <li><a href="/charlie">Charlie</a></li>
</ul>
