<h2>Auto View - Alfa</h2>

<p>There isn't a route specified for this page in our Express code but &mdash; magically &mdash;
the route still works!  Thanks, auto-views!</p>

<p>(Fun trivia: "alfa" is spelled funny because it's spelled that way in the <a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet">NATO phonetic alphabet</a>.)</p>

