<h2>Welcome</h2>

<p>Wecome to Meadowlark Travel!  Please sign up to our newsletter using either:</p>
<ul>
  <li><a href="/newsletter-signup">Old-school form submission</a>.</li>
  <li><a href="/newsletter">Async form submission (recommended)</a>.</li>
</ul>

<p>Also, please enter our Vacation Photo Contest using either:</p>
<ul>
  <li><a href="/contest/vacation-photo">Old-school form submission</a>.</li>
  <li><a href="/contest/vacation-photo-ajax">Async form submission (recommended)</a>.</li>
</ul>

<p>(Note to reader: we would never actually give users silly choices this on a real website...this is just for you to see the difference!)</p>

{{> weather}}

