<!-- see views/layouts/main.hbs for the "rest" of the HTML! -->
<h2>Example 9 Home</h2>
<p>Here are some links:</p>
<ul>
  <li><a href="/page1">Page 1</a></li>
  <li><a href="/page2">Page 2</a></li>
  <li><a href="/page3">Page 3</a></li>
  <li><a href="/page4">Page 4</a> (I'm the bad egg!)</li>
  <li><a href="/what">What?</a> (I'm also a bad egg!)</li>
</ul>
