<!-- see views/layouts/main.hbs for the "rest" of the HTML! -->
<h2>404 - Not Found</h2>
<p>Sorry, champ, I'm afraid I don't know what you're talking about.</p>
<p>Maybe you should <a href="/">go home</a>?</p>
