<!doctype html>
<html>
  <head>
    <title>Now Layout</title>
  </head>
  <body>
    <!-- we're not using a layout, so we have to include all HTML -->
    <h1>No Layout</h1>
    <p>We're not using a layout file, so all HTML is in the view!</p>
  </body>
</html>
