<!doctype html>
<html>
  <head>
    <title>Web Development with Node and Express Examples</title>
    <style>
      body {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Web Development With Node and Express 2nd Edition Examples</h1>
    <hr />
    {{{body}}}
  </body>
</html>
